.background {
   background-color: #27374D;
   min-height: 100vh;
   margin: 0;
   padding: 0;
}

.username {
   float:left;
   font-size: 40px;
   padding: 30px;
   color: #ffffff;
}

.userid {
   float:right;
   font-size: 20px;
   padding: 10px;
   color: #ffffff;
}

.line {
   width: 95%;
   border: 0;
   height: 1px;
   background: #ffffff;
   @media screen and (max-width: 706px) {
      margin-bottom: 80px;
   }
   margin-bottom: 40px;
   margin-left: auto;
   margin-right: auto;
}

.button_row {
   display: flex;
   align-items: stretch;
   justify-content: space-around;
   @media screen and (max-width: 706px) {
      padding: 20px 10px;
   }
   padding: 20px 0;
   text-align: center;
}

.image_container_topcenter {
   @media screen and (max-width: 706px) {
      max-width: 40%;
   }
   max-width: 24%;
   margin: 0 20px;
}

.image_container_bottom {
   @media screen and (max-width: 706px) {
      max-width: 40%;
   }
   max-width: 24%;
}

.image_container_topcenter img {
   width: 100%;
   height: auto;
   transition: transform 0.2s;
}

.image_container_bottom img {
   width: 100%;
   height: auto;
   transition: transform 0.2s;
}

.image_container_topcenter img:hover {
   @media screen and (min-width: 800px) {
      transform: scale(1.04);
   }
}

.image_container_bottom img:hover {
   @media screen and (min-width: 800px) {
      transform: scale(1.04);
   }
}

.image_container_topcenter img:active {
   transform: scale(0.95);
}

.image_container_bottom img:active {
   transform: scale(0.95);
}

.button {
   background-color: #9DB2DF;
   border-radius: 15px;
   width: 30%;
   font-weight: bold;
   aspect-ratio: 5/2;
}

.createButtonLocation {
   padding-top: 20px;
}

.input {
   background-color: #DDE6ED;
}